default_language_version:
  python: python3
exclude: (^docs/|^docs_source)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/terrencepreilly/darglint
    rev: master
    hooks:
    - id: darglint # default config comes from tox.ini
      args: [-v, '2']
  - repo: local
    hooks:
      - id: black
        name: black
        entry: python -m black
        args: [--skip-string-normalization, --config, ./pyproject.toml]
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]

      - id: mypy # default config comes from setup.cfg
        name: mypy
        entry: python -m mypy
        language: system
        types: [python]
        exclude: "test_.*" # exclude all test files form type checking

      - id: docstr-coverage
        name: docstr-coverage
        entry: docstr-coverage
        types: [python]
        exclude: "test_.*"
        language: system
        args: [--fail-under, '0'] # fail if less than 50 of code has docstrings
        log_file: docstring-coverage.txt
